<header>
    <h1>InvenTrack</h1>

    <!-- Back to Home Page-->
    <a href="/products">Home</a>

    <!-- To create link to submit new product -->
    <a href="/products/new">Add New Product</a>

    <a href="/user/signup">Signup</a>
    <a href="/user/login">Login</a>
    <a href="/user/logout">Logout</a>
</header>