<header>
    <h1>InvenTrack</h1>

    <!-- To create link to submit new product -->
    <a href="/products/new">Add New Product</a>

    <!-- Back to Home Page-->
    <a href="/products">Home</a>

    <!-- Edit the product -->
    <a href="/products/:id/edit">Edit</a>

    <a href="/user/signup"><button>Signup</button></a>
    <a href="/user/login"><button>Login</button></a>
    <a href="/user/logout"><button>Logout</button></a>
</header>