<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body class="signup-body">
    <main>
      <div>
        <form class="signup-form" action="/user/signup" method="post">
          <fieldset>
            <legend>Sign Up</legend>
            <label
              >USERNAME: <input type="text" name="username" required />
            </label>
            <label
              >PASSWORD: <input type="password" name="password" required />
            </label>
            <input type="submit" value="Create Account" />
          </fieldset>
        </form>
      </div>
    </main>
  </body>
</html>