/* * {
    outline: 2px dotted green;
} */

body {
    font-family: Noto Sans;
}

html, body {
    height: 100%;
    width: 100%;
}

h3 {
    font-weight: 600;
    font-size: 1.3em;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(101, 57, 57);
}

/* ------------------- */
/* Landing Page */
/* ------------------- */
.container {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%; /* 100% of the viewport width */
    height: 100%; /* 100% of the viewport height */    
}


.left-container {
    background-color: #D3A588;
    color: rgb(101, 57, 57);
    padding-top: 30%;
    padding-left: 25%;
    padding-right: 20px;
    text-align: end;
}

hr {
    /* border: none;
    height: 1px; */
    color: #333;
}


.left-container h2, p {
    justify-content: flex-end;
}

.right-container {
    background-color: white;
    text-align: center;
    margin-left: 20px;
    margin-top: 15%;

}

.right-container h2 {
    color: #846755;
}

.google-login, .facebook-login {
    background-color: #dd4b39;  /* Google button color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0px 15px;
    width: 90%;
}

.facebook-login {
    background-color: #3b5998; /* Facebook button color */
}

.divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.divider hr {
    flex-grow: 1;
}

.divider span {
    margin: 0 10px;
    color: #846755;
}


/* Link to Signup Page */
p {
    color: #333;
    margin-top: 15px;
}

p a {
    color:#846755;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

/* ------------------- */
/* FORM styling */
/* ------------------- */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #A8836D;
    width: 100%;
}

button[type="submit"], input[type="submit"] {
    background-color: #846755;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
    margin-top: 1px;
    width: 90%;
}

button[type="submit"]:hover, input[type="submit"]:hover {
    background-color: #A07D68;
}


/* ------------------- */
/* INDEX Page */
/* ------------------- */

.index-page {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #ECE2D0;
}

.product {
    margin: 10px 5px; /* Adds space around each product card */

    /* setting width of product card */
    width: 320px;
}

.product-img img {
    border-radius: 10px; /* Softening the border */
    /* Adding shadow */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, color */
    border: 1px solid #ccc; /* Light grey border */  
    
    /* Non-hover stage */
    transition: transform 0.3s ease; /* Smooth transition for the transform property when hovered over as styled below */
    
}

.product-img img:hover {
    /* State on hover */
    transform: scale(1.05); /* Increase the size of the image */
}

.product-details {
    display: flex;
    flex-direction: column;
    color: rgb(101, 57, 57);
}

.product-name h3 {
    margin-bottom: 5px;
}

.out-stock {
    color: red;
    font-weight: 600;
}

/* ------------------- */
/* SHOW PAGE */
/* ------------------- */

.show-page {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
}

.show-product-img {
    width: 500px;
    height: 500px;
    overflow: hidden; /* Ensures that the image doesn't exceed the container's boundaries */

    
}

.show-product-img img {
    max-width: 100%; /* Ensures the image doesn't exceed the container's width */
    max-height: 100%; /* Ensures the image doesn't exceed the container's height */
    object-fit: contain;
}

.show-product-details {
    color: rgb(101, 57, 57);
}

.show-product-details form {
    display: block;
}

/* ------------------- */
/* NEW and EDIT FORM styling  */
/* ------------------- */

.product-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family:'Times New Roman', Times, serif;
    color: #333;
}

.product-form fieldset {
    border: none; /* remove fieldset default border */
}

.product-form label {
    display: block;
    margin-bottom: 10px;
    color: #785E4D;
    font-weight: bold;
}



/* ============================
MOBILE VIEW
==============================*/
@media screen and (max-width: 600px) { 
    .container {
        display: flex;
        flex-direction: column;
    }

    .left-container {
        text-align: center;
        background-color: #D3A588;
        color: rgb(101, 57, 57);
        padding-top: 20%;
        padding-left: 10%;
        padding-right: 20px;
        height: 50%;
    }

    .right-container {
        width: 70%;
        margin: 0 auto;
        margin-top: 30px;
    }


}